# Ignore everything
*

# Whitelist directories
!*/
# Whitelist git config
!.gitignore
!.gitattributes
# Whitelist toolchain configuration files
!.clang-format
!.clang-tidy
!.clangd
!.cppcheck
# Whitelist project files
!bash/**
!dependencies/**
!docs/**
!hatman/**

# Ignore build & temporary directories regardless of their contents
.cache/
.cache-cppcheck/
.vs/
build/
temp/
snippets/