# Ignore everything
*

# Whitelist
# > Git config
!.gitignore
!.gitattributes
# > Toolchain config
!.clang-format
!.clang-tidy
!.clangd
!.cppcheck
# > Docs
!README.md
!LICENSE.md
!CHANGELOG.md
!docs/
!docs/**
# > Build
!CMakePresets.json
!CMakeLists.txt
# > Scripts
!actions.sh
!bash/
!bash/**
# > Code
!hatman/
!hatman/**
# > Assets & binaries
!dependencies/
!dependencies/**
